<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="CodeViewer" value="C:\Users\Tim\AppData\Local\Programs\Microsoft VS Code\Code.exe"/> 
    
    <add key="BasePath" value="c:\temp\"/>
    <add key="SourceDir" value="c:\temp\src"/>
    <add key="DestDir" value="c:\temp\src\_compiled"/>
    <add key="FileIn" value="_input.txt"/>
    <add key="FileOut" value="_output.txt"/>  
    <add key="Cache" value="_cache.txt"/>

  
  </appSettings>

  <connectionStrings>
    <add
      name="default"
      connectionString="Database=Cyberscope123;Data Source=DESKTOP-OM9UKAC;User ID=CSadmin;password=P@ssword1;Max Pool Size=200"      />

  </connectionStrings>
</configuration>