<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="CodeViewer" value="C:\Users\Tim\AppData\Local\Programs\Microsoft VS Code\Code.exe"/>
    <add key="CodeViewer2" value="notepad.exe"/>
    <add key="BasePath" value="c:\temp\"/>

    <add key="FileIn" value="c:\temp\_input.txt"/>
    <add key="FileOut" value="c:\temp\_output.txt"/> 

    <add key="Cache" value="c:\temp\_cache.txt"/>

    <add key="Assembly" value="CSCodeCompiler"/>
    <add key="ProcAssembly" value="CSCodeCompiler.Procedures"/>
    <add key="Extention" value=".txt"/>

  </appSettings>

  <connectionStrings>
    <add
      name="default"
      connectionString="Database=Cyberscope123;Data Source=DESKTOP-OM9UKAC;User ID=CSadmin;password=P@ssword1;Max Pool Size=200"      />

  </connectionStrings>
</configuration>